@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900;
}

input, button, textarea {
  @apply focus:outline-none focus:ring-4 focus:ring-blue-300;
}
